* {
  margin: 0;
  padding: 0;
}

.container2 {
  padding-left: 9rem;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: black;
  flex-wrap: wrap;
}

.box-reuniao{
  display: "flex";
  align-Items: "center";
  justify-Content: "center";
  text-align: center;
}
