@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Open+Sans:wght@300;500&display=swap");

* {
  padding: 0;
  margin: 0;
}

.cointainer{
  width: 100vw;
  height: 100vh;
  background: url("../../../Img/fundo-tela-login.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  width: 541px;
  height: 582px;
  background-image:linear-gradient(to top, white 0, white 80%, #D9D9D9 20%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-Wrap: wrap;
  flex-Direction: column;
  align-Content: space-between;
  align-Items: center;
  justify-Content: center;
}
.img-logo{
  background-image: url("../../../Img/logo-dua.png");
}
.login-title {
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1.5rem;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  line-break: strict;

  color: #686868;
}
